{{> header/header}}

<div class = "container">
    <div class = "wrapper">
        <select name="Services" id="servicesDropdown" style = "display: block">
            <option value="none">Select the service you need</option>
            {{#each servicemenus}}
            <option value={{id}}>{{title}} will take {{manHour}} hours</option>
            {{/each}}
        </select>
    </div>
</div>

<div class="container">
    <div class="wrapper">
        <form>
            <input type="date" min="2020-01" id="serviceCalendar">
            <input type="submit" value="Submit" id="calendarSubmit">
        </form>
    </div>
</div>

<div class = "container" id = "timeSlotContainer">
    <div class = "wrapper">
        <table id = "timeSlotForm">
            <th>Start time available</th>
            <th>Estimated end time</th>
            <th>Number of workers required</th>
{{!-- The code below had been on its own page (service-selection)
handlebars won't wait for this information. This need to be handled in the js file.
            {{#each timeSlots}}
            <tr id = {{timeStart}}>
            <td> {{timeStart}} </td>
            <td> {{timeEnd}} </td>
            <td> {{numberOfHandyman}} </td>
            </tr>
            {{/each}} --}}
        </table>
            <input type="submit" value="Select this time slot" id = "timeSubmit">
        

    </div>
</div>